#projectalign {
    vertical-align: bottom;
    padding-bottom: 0.2em;
    padding-left: 0;
}

#projectname {
    color: #00000000;
}

#projectnumber {
    color: black;
    margin-left: -4.5em;
}

#projectlogo img {
    height: 4.5em;
}

div.image img {
    max-width: 22cm;
}
div.image img[src="typical.png"] {
    width: 10cm; 
}
